[submodule "arch/arm/CMSIS_6"]
	path = arch/arm/CMSIS_6
	url = https://github.com/ARM-software/CMSIS_6.git
[submodule "kernel/FreeRTOS-Kernel"]
	path = kernel/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "arch/devices/STM/stm32f4xx-hal-driver"]
	path = arch/devices/STM/stm32f4xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32f4xx-hal-driver.git
[submodule "lib/lib-fsm"]
	path = lib/lib-fsm
	url = https://github.com/SS-Electronics/lib-fsm.git
[submodule "lib/tflite-micro"]
	path = lib/tflite-micro
	url = https://github.com/tensorflow/tflite-micro.git
[submodule "arch/arm/CMSIS-NN"]
	path = arch/arm/CMSIS-NN
	url = https://github.com/ARM-software/CMSIS-NN.git
[submodule "lib/CMSIS-DSP"]
	path = lib/CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP.git
[submodule "lib/lib-behavior-tree"]
	path = lib/lib-behavior-tree
	url = https://github.com/SS-Electronics/lib-behavior-tree.git
